<div ng-controller="SubheaderAppCtrl" layout="column" flex layout-fill ng-cloak>
  <md-toolbar class="md-toolbar-2" md-scroll-shrink>

    <div class="md-toolbar-tools">  <span class="flex"></span><h2>لیست مطالب</h2></div>
  </md-toolbar>
  <md-content class="pading0" style="height: 650px;" md-theme="altTheme">
    <section>
      <md-list >
        <md-list-item class="md-2-line"  ng-click="cont(x.id)"  ng-repeat="x in mins">
        <img ng-src="{{x.direct}}{{x.pic}}" class="md-avatar" alt="{{x.id}}">
                   <div  class="md-list-item-text" >
              <h3>{{x.subject}}</h3>
              
              <p class="md-body-1" >
              {{x.date}}
            </p>
            </div>
      <md-divider ></md-divider>         
        </md-list-item>
     
      </md-list>
    </section>

  </md-content>
  </div>