@font-face {
  font-family: 'BYekan';
  src: url('../fonts/wYekan.eot?#') format('eot'),  /* IE6–8 */
       url('../fonts/wYekan.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
       url('../fonts/wYekan.ttf') format('truetype');  /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
}
/*------------------------------gride -------------------------------*/ 
.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }
.gridListdemoBasicUsage .gray {
  background: #CCCC99; }
.gridListdemoBasicUsage .green {
  background: #D13D94; }
.gridListdemoBasicUsage .yellow {
  background: #F5851F; }
.gridListdemoBasicUsage .blue {
  background: #CADA2A; }
.gridListdemoBasicUsage .purple {
  background: #81A4B9; }
.gridListdemoBasicUsage .red {
  background: #CFE8F6; }
.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }
  
/*---------------------------------header -------------------------------*/ 
.md-toolbar-tools{height:54px !important; min-height:54px !important; max-height:54px !important;  }
.md-button.md-icon-button{height:54px !important; min-height:54px !important; max-height:54px !important;}
md-toolbar{height:54px !important; min-height:54px !important; max-height:54px !important;}
 
/*---------------------------------header -------------------------------*/ 
md-grid-list md-grid-tile md-grid-tile-footer h3, md-grid-list md-grid-tile md-grid-tile-footer h4, md-grid-list md-grid-tile md-grid-tile-header h3, md-grid-list md-grid-tile md-grid-tile-header h4{
	font-family:BYekan;
	text-align:right;
	direction:rtl;
	margin:0 16px 0 0 !important;
}

md-card {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: 8px;
	float:right;
	 height: 110px;
}
md-card md-card-header {
    display: flex;
    flex-direction: row;
    padding: 16px;
}
md-card md-card-header:first-child md-card-avatar {
    margin-right: 12px;
}
md-card md-card-header:last-child md-card-avatar {
    margin-left: 12px;
}
md-card md-card-header md-card-avatar {
    height: 40px;
    width: 40px;
}
md-card md-card-header md-card-avatar .md-user-avatar, md-card md-card-header md-card-avatar md-icon {
    border-radius: 50%;
}
md-card md-card-header md-card-avatar md-icon {
    padding: 8px;
}
md-card md-card-header md-card-avatar + md-card-header-text {
    max-height: 40px;
}
md-card md-card-header md-card-avatar + md-card-header-text .md-title {
    font-size: 14px;
}
md-card md-card-header md-card-header-text {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
	float:right;
}
md-card md-card-header md-card-header-text .md-subhead {
    font-size: 14px;
}
md-card > *:not(md-card-content) img, md-card > img {
    display: flex;
    flex: 0 0 auto;
    height: auto;
    width: 100%;
float:right;
}
md-card md-card-title {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    padding: 24px 16px 16px;
	float:right;
}
md-card md-card-title + md-card-content {
    padding-top: 0;
}
md-card md-card-title md-card-title-text {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
	float:right;
}
md-card md-card-title md-card-title-text .md-subhead {
    font-size: 14px;
    padding-top: 0;
}
md-card md-card-title md-card-title-text:only-child .md-subhead {
    padding-top: 12px;
}
md-card md-card-title md-card-title-media {
    margin-top: -8px;
}
md-card md-card-title md-card-title-media .md-media-sm {
    height: 80px;
    width: 80px;
}
md-card md-card-title md-card-title-media .md-media-md {
    height: 112px;
    width: 112px;
}
md-card md-card-title md-card-title-media .md-media-lg {
    height: 152px;
    width: 152px;
}
md-card md-card-content {
    display: block;
    padding: 16px;
}
md-card md-card-content > p {
    margin: 0;
}
md-card md-card-content .md-media-xl {
    height: 240px;
    width: 240px;
}
md-card .md-actions, md-card md-card-actions {
    margin: 8px;
}
md-card .md-actions.layout-column .md-button:not(.md-icon-button), md-card md-card-actions.layout-column .md-button:not(.md-icon-button) {
    margin: 2px 0;
}
md-card .md-actions.layout-column .md-button:first-of-type:not(.md-icon-button), md-card md-card-actions.layout-column .md-button:first-of-type:not(.md-icon-button) {
    margin-top: 0;
}
md-card .md-actions.layout-column .md-button:last-of-type:not(.md-icon-button), md-card md-card-actions.layout-column .md-button:last-of-type:not(.md-icon-button) {
    margin-bottom: 0;
}
md-card .md-actions.layout-column .md-button.md-icon-button, md-card md-card-actions.layout-column .md-button.md-icon-button {
    margin-bottom: 6px;
    margin-top: 6px;
}
md-card .md-actions md-card-icon-actions, md-card md-card-actions md-card-icon-actions {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: flex-start;
}
md-card .md-actions:not(.layout-column) .md-button:not(.md-icon-button), md-card md-card-actions:not(.layout-column) .md-button:not(.md-icon-button) {
    margin: 0 4px;
}
md-card .md-actions:not(.layout-column) .md-button:first-of-type:not(.md-icon-button), md-card md-card-actions:not(.layout-column) .md-button:first-of-type:not(.md-icon-button) {
    margin-left: 0;
}
md-card .md-actions:not(.layout-column) .md-button:last-of-type:not(.md-icon-button), md-card md-card-actions:not(.layout-column) .md-button:last-of-type:not(.md-icon-button) {
    margin-right: 0;
}
md-card .md-actions:not(.layout-column) .md-button.md-icon-button, md-card md-card-actions:not(.layout-column) .md-button.md-icon-button {
    margin-left: 6px;
    margin-right: 6px;
}
md-card .md-actions:not(.layout-column) .md-button.md-icon-button:first-of-type, md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:first-of-type {
    margin-left: 12px;
}
md-card .md-actions:not(.layout-column) .md-button.md-icon-button:last-of-type, md-card md-card-actions:not(.layout-column) .md-button.md-icon-button:last-of-type {
    margin-right: 12px;
}
md-card .md-actions:not(.layout-column) .md-button + md-card-icon-actions, md-card md-card-actions:not(.layout-column) .md-button + md-card-icon-actions {
    display: flex;
    flex: 1 1 0;
    flex-direction: row;
    justify-content: flex-end;
}
md-card md-card-footer {
    margin-top: auto;
    padding: 16px;
}
@media not all {
md-card {
    border: 1px solid #fff;
}
}

/*---------------------------------subheaderd -------------------------------*/ 

.subheaderdemoBasicUsage .face {
  border-bottom: 1px solid #ddd;
 }
/*---------------------------------tabs -------------------------------*/ 
.tabsdemoDynamicHeight md-content {
  background-color: transparent !important; }
  .tabsdemoDynamicHeight md-content md-tabs {
    background: #f6f6f6;}
    .tabsdemoDynamicHeight md-content md-tabs md-tabs-wrapper {
      background:#e74c3c none repeat scroll 0 0; }
  .tabsdemoDynamicHeight md-content h1:first-child {
    margin-top: 0; }
	
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){background-color: #34495e !important; }	
md-toolbar.md-toolbar-2{background-color:#e74c3c  !important;}

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) md-icon{ color:rgba(255,255,255,1) !important;}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){ font-family:BYekan; color:rgba(255,255,255,1) !important;}
/*---------------------------------rtl ------------------------------*/ 
md-list-item .md-no-style.md-button, md-list-item.md-no-proxy.md-button{text-align:right !important;}
md-list-item md-icon{margin-left:10px !important; margin-right:0px !important;}
.md-subheader{ text-align:right !important; }
.md-toolbar-tools{text-align:right !important; font-size:17px !important;}
.md-subheader .md-subheader-inner{ padding:16px 16px 16px 0px !important;} 
md-list-item .md-avatar-icon, md-list-item .md-list-item-inner .md-avatar-icon, md-list-item .md-list-item-inner > .md-avatar, md-list-item > .md-avatar{ margin:8px 0 8px 16px !important;}
/*---------------------------------list ------------------------------*/ 
md-list-item.md-2-line, md-list-item.md-2-line > .md-no-style{direction:rtl; text-align:justify !important; padding:5px ;}
md-content{ text-align:justify !important; direction:rtl; padding: 10px 12px !important;}
.pading0{padding:0 !important;}
h3{ font-family:BYekan !important; padding-bottom:5px; }
p{ font-family:BYekan !important; }
md-content.wimg img{ width:100% !important;}
md-list-item.md-2-line, md-list-item.md-2-line > .md-no-style{padding:0 !important;}
md-list{padding:0 !important;}
